<div class="h-auto w-full px-4 py-6">
  <header class="">
    <button class="bg-[#003366] text-white px-4 py-3 rounded-lg mb-8 cursor-pointer" routerLink="/available-tontines">← Retour</button>
    <div *ngIf="!isLoading && tontine">
      <p class="text-xl font-extrabold mb-4 text-[#003366]">{{ tontine.nomTontine }}</p>
  
    
    </div>
    <div *ngIf="isLoading">
      <h1>Chargement...</h1>
    </div>
  </header>

  <!-- Message d'erreur -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
    <button routerLink="/available-tontines" class="btn-link">Retour à la liste</button>
  </div>

  <!-- Détails de la tontine -->
  <section class="detail-card" *ngIf="!isLoading && tontine">
    <div class="flex gap-6 w-auto h-auto px-10 py-8" >
      <div class="montant flex flex-col justify-center items-center w-40 px-3 py-4 shadow-lg rounded-lg">
        <img src="assets/image/argent.png" alt="">
        <h3 class="text-[#003366] py-2 font-semibold">Montant</h3>
        <h2>{{ tontine.montant | number }} FCFA</h2>
      </div>
      <div class="frequence flex flex-col justify-center items-center w-40 px-3 py-4 shadow-lg rounded-lg">
        <i class="fa-thin fa-bolt"></i>
        <h3 class="text-[#003366] py-2 font-semibold">Fréquence</h3>
        <h2>{{ tontine.frequence }}</h2>
        <i class="fa-thin fa-bolt"></i>
      </div>

      <div class="membre flex flex-col justify-center items-center w-40 px-3 py-4 shadow-lg rounded-lg">
        <img src="" alt="">
        <h3 class="text-[#003366] py-2 font-semibold">Membres</h3>
        <h2>{{ tontine.nombreMembres }}</h2>
      </div>
      <div class="debut flex flex-col justify-center items-center w-40 px-3 py-4 shadow-lg rounded-lg">
        <i class="fa-light fa-calendar text-[#003366]"></i>
        <h3 class="text-[#003366] py-2 font-semibold">Début</h3>
        <h2>15 Mai</h2>
      </div>

    </div>

    <div class="description text-lg w-100 h-auto mt-8 py-4 px-3 flex flex-col justify-center  shadow-lg rounded-lg">
      <div class="mb-5 flex justify-between">
        <p class="text-lg font-semibold ">Description</p>
        <img src="./detail-tontine.html" alt="">
      </div>
      <p class="italic text-[16px]">{{ tontine.descriptionTontine }}</p>
    </div>

    <!--information administrateur et lieu de la tontine-->

    <div class="">

    </div>
  </section>

  <!-- Squelette de chargement -->
  <div *ngIf="isLoading && !tontine" class="skeleton-card">
    <div class="skeleton-header"></div>
    <div class="skeleton-line"></div>
    <div class="skeleton-line short"></div>
    <div class="skeleton-grid"></div>
  </div>
  
<button 
  (click)="goToPayment()" 
  class="w-full bg-[#FF7F50] text-white py-3 rounded-xl font-bold hover:bg-opacity-90 transition mt-4">
  Payer ma cotisation
</button>
</div>